.formulario-cv{
  background-color: cadetblue;
  width: 50%;
  height: auto;
  margin: auto;
  padding: 20px;
}

.btnCV{
	width:60%;
}


.etiquetaCVRadio{
 margin-left:20px;
}
 

.etiquetaCV{
  display: inline-block;
  margin: 15px ;
  width: 30%;
  color:white;
  font-weight: 600;
}

.formulario-cv fieldset legend{
  font-size: 1rem;
}

fieldset{
  margin: 20px 0;
  color:white;
  font-weight: 600;
  border:solid white 1px;
  padding-left:15px;
}

textarea{
  margin: 20px auto;
  width: 100%;
  resize: none;
}
