.formulario-cv{
  background-color: cadetblue;
  width: 50%;
  height: auto;
  margin: auto;
  padding: 20px;
}


input{
  margin: 15px 0;
  display: inline-block;
  width: 70%;
}

input[type=radio]{
 margin: 10px 0;
 width: 20%
}

input[type=checkbox]{
 margin: 10px 0;
 width: 20%
}
 

.etiquetaCV{
  display: inline-block;
  width: 20%;
  color:white;
  font-weight: 600;
}

.formulario-cv fieldset legend{
  font-size: 1rem;
}

fieldset{
  margin: 20px 0;
  color:white;
  font-weight: 600;
  border:solid white 1px;
}

textarea{
  margin: 20px auto;
  width: 100%;
  resize: none;
}
