
textarea{
  resize: none;
  width: 98%;
  height: 90%;
  scroll-behavior: smooth;
  padding: 10px 10px;
}

.boton-CV[type=submit]{
  
  font-family: sans-serif;
  font-weight: 600;
  display: inline;
  width:15%;
  
}



