
.strikethrough {
    position: relative;
    font-size: 12px;
  
  }

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;


    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}

.descuento{
    left:5px;
    top:5px;
    background-color:#f70b26;
}

.text-bright-red{
    color:#f70b26;
}
.bg-bright-red{
    background-color:#f70b26;
}

.fotoProd{
	
	width:20%;
}



