tr th{
    background-color: black;
    color: white;
}
td { border:1px solid black }

tr{
    background-color: beige;
}
table{
    border-collapse: collapse;
    display: block;
    width:20%;
    height: 200px;
    
}